﻿@using Ottostugan.Extensions.Regions
@using Piranha.Extend.Regions

@model Ottostugan.Extensions.PageModels.HousePageModel


@{
    var image = Model.Region<ImageRegion>("HouseMainImage");
}

<div>
    <article class="module-a">
        <figure>
            <img width="450" height="220" alt="@image.Description" src="@UI.Content(image.Id, 450, 320)">
        </figure>
        @Html.Raw(Model.Region<HtmlRegion>("HouseText"))
        <p class="link">
            <a href="javascript:void(0);">@Ottostugan.Resources.Labels.ReadMore</a>
        </p>
    </article>
    @if (Model.Apartments != null)
    {
        foreach (var apartment in Model.Apartments)
        {
            @RenderApartment(apartment)
        }
    }
</div>

@helper RenderApartment(Piranha.Models.PageModel apartment)
{
    <article class="module-b">
        @{
            var aImg = apartment.Region<ImageRegion>("ApartmentMainImage");
            var aName = apartment.Region<SimpleTextRegion>("ApartmentName").Text;
            var aText = apartment.Region<SimpleTextRegion>("ApartmentShortText").Text;
        }
        <figure>
            <img src="@UI.Content(aImg.Id)" alt="@aImg.Description" width="160" height="130">
        </figure>
        <h3>@aName</h3>
        <p>@Html.Raw(aText)</p>
        <p class="link"><a href="/@apartment.Page.Permalink">@Ottostugan.Resources.Labels.ReadMore</a></p>
    </article>
}