﻿@using Ottostugan.Enums
@using Ottostugan.Extensions.Regions
@using Ottostugan.Models
@using Ottostugan.Resources
@model Ottostugan.Extensions.PageModels.ContentPageModel
@{
    ViewBag.Title = Model.Page.Title;

    var hasSocialMedia = Model.Link1 != null || Model.Link2 != null || Model.Link3 != null;
}

<section id="content" class="cols-a">
    <article>
        <h2>@Model.Page.Title</h2>
        @Model.Regions.Content
    </article>
    @if (hasSocialMedia)
    {
        <aside class="a">
            <h3 class="header-a">@Labels.Links</h3>
            <ul class="list-a">
                @if (Model.Link1 != null)
                {
                    <li>
                        @RenderSocialMediaLink(Model.Link1)
                    </li>
                }
                @if (Model.Link2 != null)
                {
                    <li>
                        @RenderSocialMediaLink(Model.Link2)
                    </li>
                }
                @if (Model.Link3 != null)
                {
                    <li>
                        @RenderSocialMediaLink(Model.Link3)
                    </li>
                }
            </ul>
        </aside>
    }
</section>

@helper RenderSocialMediaLink(SocialMediaLink link)
{
    <a class="@GetCssClassNameByType((SocialMediaType)link.Type)" href="@link.Value" rel="external">@link.Name</a>
}

@functions
{

    string GetCssClassNameByType(SocialMediaType type)
    {
        var className = "";
        switch (type)
        {
            case SocialMediaType.Facebook:
                className = "scheme-a";
                break;
            case SocialMediaType.Twitter:
                className = "scheme-b";
                break;
            case SocialMediaType.GooglePlus:
                className = "scheme-c";
                break;
        }
        return className;
    }

}
