﻿@model Ottostugan.Models.PriceList[]

<table class="list" id="list">
    <thead>
        <tr>
            <th><span class="sort" data-sort="name">Price List Name</span></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-js">
        @foreach (var priceList in Model)
        {
            <tr>
                <td class="name"><a href="@Url.Action("edit", new { id = priceList.Id })">@priceList.Name</a></td>
                <td class="buttons">
                    <a href="@Url.Action("edit", new { id = priceList.Id }).ToLowerInvariant()" class="icon edit marg" title="Edit Price List"></a>
                </td>
                <td class="buttons">
                    <a class="icon delete" title="Delete Price List" href="@Url.Action("delete", new { @id = priceList.Id })"></a>
                </td>
            </tr>
        }
    </tbody>
</table>