﻿@using Ottostugan.Extensions.Regions
@using Ottostugan.Models
@using Piranha.Extend.Regions
@model Piranha.Models.PageModel

@{
    
    var startPageContentRegion = Model.Region<TextRegion>("StartPageContent");
    var title = startPageContentRegion.Title;
    var text = startPageContentRegion.Body;

    var startPageImageRegion = Model.Region<ImageRegion>("StartPageImage");
    var image = new ImageModel()
    {
        Description = startPageImageRegion.Description,
        Id = startPageImageRegion.Id
    };
    
}

<div class="col-md-4" style="padding-left: 10px; padding-right: 10px;">
    <div>
        <a href="@UI.Permalink(Model.Page.Permalink)">
            <h2>@title</h2>
        </a>
    </div>
    
    <div><p>@text</p></div>
    <div>
        <figure>
            <a href="@UI.Permalink(Model.Page.Permalink)">
                <img width="420" height="235" alt="@image.Description" src="@UI.Content(image.Id, 420, 235)">
            </a>
        </figure>
    </div>

</div>
@*<article>
    <a href="@UI.Permalink(Model.Page.Permalink)">
        <h2>@title</h2>
    </a>
    <p>@text</p>
    <figure>
        dsad
        <a href="@UI.Permalink(Model.Page.Permalink)">
            <img width="300" height="150" alt="@image.Description" src="@UI.Content(image.Id, 300, 160)">
        </a>
    </figure>
</article>*@
