﻿@using System.Configuration
@using Ottostugan.Models
@model Ottostugan.Areas.Manager.Models.BookingViewModel[]
@{
    var dateFormat = ConfigurationManager.AppSettings["DateFormat"];
}
<table class="list" id="list">
    <thead>
        <tr>
            <th nowrap="nowrap"><span class="sort" data-sort="name">Apartment</span></th>
            <th><span class="sort desc" data-sort="fromdate">From</span></th>
            <th><span class="sort" data-sort="todate">To</span></th>
            <th><span class="sort" data-sort="status">Status</span></th>
            <th><span class="sort" data-sort="bookedbyname">Name</span></th>
            <th><span class="sort" data-sort="ispaiddeposit">Paid Deposit</span></th>
            <th><span class="sort" data-sort="ispaidfully">Paid Fully</span></th>
            <th><span class="sort" data-sort="created">Created</span></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-js">
        @foreach (var booking in Model)
        {
            <tr>
                <td nowrap="nowrap" class="name"><a target="_blank" href="@Url.Action("edit", "page", new { area = "manager", id = booking.Apartment.Id })">@booking.Apartment.Title</a></td>
                <td class="fromdate date">@booking.Booking.FromDate.ToString(dateFormat)</td>
                <td class="todate date">@booking.Booking.ToDate.ToString(dateFormat)</td>
                <td class="status">@(booking.Booking.Status == BookingStatus.Available ? string.Empty : booking.Booking.Status.ToString())</td>
                <td class="bookedbyname booked">@booking.Booking.BookedByName</td>
                <td class="ispaiddeposit">@RenderBool(booking.Booking.IsPaidDeposit)</td>
                <td class="ispaidfully">@RenderBool(booking.Booking.IsPaidFully)</td>
                <td class="created date">@booking.Booking.CreatedDate.ToString(dateFormat)</td>
                <td class="buttons">
                    <a href="@Url.Action("editbooking", new { id = booking.Booking.Id }).ToLowerInvariant()" class="icon edit marg" title="Edit Booking"></a>
                </td>
                <td class="buttons">
                    <a class="icon delete" href="@Url.Action("delete", new { id = booking.Booking.Id }).ToLowerInvariant()" onclick="return confirm('Are you sure you want to delete this booking?')" title="Delete Booking"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@helper RenderBool(bool value)
{
    if (value)
    {
        <span>Yes</span>
    }
    else
    {
        <span>No</span>
    }
}
