﻿@using System.Configuration
@using System.Reflection.Emit
@using System.Runtime.Versioning
@using Ottostugan.Extensions.PageModels
@using Ottostugan.Extensions.Regions
@using Ottostugan.Models
@using Ottostugan.Resources
@using Ottostugan.ViewModels
@using Piranha.Extend.Regions

@model Ottostugan.Extensions.PageModels.ApartmentPageModel

@{
    ViewBag.Title = Model.Page.Title;
}

<section id="content" class="cols-a">
    <div class="row">
        <div class="col-md-6 left-side d-flex justify-content-center">
            <article>
                <h2>@(Model.House.Region<SimpleTextRegion>("HouseName").Text)</h2>
                <h3>@(Model.Region<SimpleTextRegion>("ApartmentName").Text)</h3>
                <figure class="zoomy">
                    @{
                        var img = Model.Region<ImageRegion>("ApartmentMainImage");
                    }
                    <a href="@UI.Content(img.Id)">
                        <img src="@UI.Content(img.Id, 600, 360)" alt="@img.Description" width="600" height="360">
                    </a>
                </figure>
                @Html.Raw(Model.Region<HtmlRegion>("ApartmentText"))

            </article>
        </div>
        <div class="col-md-6 right-side d-flex justify-content-center">
            <aside>
                @{
                    var propDictionary = Model.Properties as IDictionary<string, object>;
                }
                <h3 class="header-a">@Labels.QuickLook</h3>
                @if (propDictionary != null)
                {
                    <ul class="list-c">
                        <li>@RenderPropertyLabel("Size") @(propDictionary["Size"])m<sup>2</sup></li>
                        @{
                            var hasExtraBeds = propDictionary["Extra beds"] != null;
                            var extraBeds = propDictionary["Extra beds"];
                        }
                        <li>@RenderPropertyLabel("Adult beds") @(propDictionary["Adult beds"]) @(hasExtraBeds ? "+ " + extraBeds : "")</li>
                        <li>@RenderPropertyLabel("Sauna") @(propDictionary["Sauna"])</li>
                        <li>@RenderPropertyLabel("Meters to lift") @(propDictionary["Meters to lift"])</li>
                    </ul>
                }
                @{
                    var images = GetImages();
                }
                @if (images.Any())
                {
                    <ul class="gallery-a zoomy">
                        @foreach (var image in images)
                        {
                            <li>@RenderSecondaryImage(image)</li>
                        }
                    </ul>
                }
                <h3 class="header-a">@Labels.ContactUs</h3>
                <ul class="list-c">
                    <li><span>@Labels.RentalPhone:</span> @(propDictionary["Rental Phone"])</li>
                    @if (propDictionary["Rental Email"] != null)
                    {
                        <li><span>@Labels.RentalEmail:</span> <a class="email">@(propDictionary["Rental Email"].ToString().Replace("@", "//").Replace(".", "/"))</a></li>
                    }
                </ul>
            </aside>
        </div>
    </div>
    <div class="row">
        <h3>@Labels.BookNow</h3>
        <div class="col-12 col-md-6">
            <p class="scheme-e" style="margin-top: 20px; margin-bottom: 30px; text-align: center;">
                <label style="display: inline">
                    @Html.RadioButtonFor(m => m.SearchType, SearchType.FullWeek, new { id = "rbtnFullWeek", onchange = "searchBookings()" })
                    &nbsp;
                    <span>@Labels.FullWeek</span>
                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="display: inline">
                    @Html.RadioButtonFor(m => m.SearchType, SearchType.SplittedWeek, new { id = "rbtnSplittedWeek", onchange = "searchBookings()" })
                    &nbsp;
                    <span>@Labels.SplittedWeek</span>
                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="display: inline">
                    @Html.RadioButtonFor(m => m.SearchType, SearchType.ChooseFreely, new { id = "rbtnChooseFreely", onchange = "searchBookings()" })
                    &nbsp;
                    <span>@Labels.ChooseFreely</span>
                </label>
            </p>
            <p></p>
            <div class="chooseFreelyDatepickers" style="text-align: center; padding-bottom: 20px;">
                <input type="text" id="datepickerFrom" placeholder="Från datum">
                <input type="text" id="datepickerTo" placeholder="Till datum">
            </div>
        </div>
        <div class="col-12 col-md-6">
            </div>

        <div class="calendar" max-width: 600px; margin: 0 auto; id="calendar"></div>
        <ul class="list-b hide" id="bookingInfo">
            <li><span>@Labels.Date:</span> <b><span class="scheme-e" id="startDate"></span></b> @Labels.To <b><span class="scheme-e" id="endDate"></span></b></li>
            <li><span>@Labels.Price:</span> <b><span class="scheme-e"><span id="price"></span></b></span></li>
        </ul>
        @Html.Partial("BookingRequest", new BookingRequestModel())
    </div>


</section>

@functions
{

    List<ImageRegion> GetImages()
    {
        var result = new List<ImageRegion>();

        for (int i = 1; i <= ApartmentPageModel.SecondaryImagesCount; i++)
        {
            var image = GetImageByIndex(i);

            if (image != null)
                result.Add(image);
        }

        return result;
    }

    ImageRegion GetImageByIndex(int index)
    {
        var name = string.Format("ApartmentSecondaryImage{0}", index);

        var region = Model.Region<ImageRegion>(name);

        if (region == null)
            return null;

        return region.Id == new Guid()
            ? null
            : Model.Region<ImageRegion>(name);
    }

}

@helper RenderPropertyLabel(string propertyName)
{
    switch (propertyName)
    {
        case "Size":
            <span>@Labels.PropertySize:</span>
            return;
        case "Adult beds":
            <span>@Labels.PropertyBeds:</span>
            return;
        case "Sauna":
            <span>@Labels.PropertySauna:</span>
            return;
        case "Meters to lift":
            <span>@Labels.PropertyMetersToLift:</span>
            return;
    }
}

@helper RenderSecondaryImage(ImageRegion image)
{
    if (image != null)
    {
        <a href="@(UI.Content(image.Id))"><img src="@(UI.Content(image.Id, 145, 91))" alt="@(image.Description)" width="145" height="91"></a>
    }
}

@section script
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepickerFrom").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#datepickerTo").datepicker({ dateFormat: 'yy-mm-dd' });

            $('#datepickerFrom').change(function () {
                customDateChanged()
            });

            $('#datepickerTo').change(function () {
                customDateChanged();
            });

            function customDateChanged() {
                if ($("#datepickerFrom").val() == "" || $("#datepickerTo").val() == "") {
                    return;
                } else {
                }
                searchBookings();
            }

        });



        head.js('@Url.Content("/Scripts/views/apartment-page.js")');

        var dateFormat = '@ConfigurationManager.AppSettings["DateFormat"]';

        window.events = {
            url: '@Url.Action("SearchBookingsForApartment", "Booking")',
            data: {
                searchType: getSearchType(),
                fromDate: "",
                toDate: "",
                apartmentId: '@Model.Page.Id',
            },
            success: function(data) {
            }
        };

        window.showError = function() {
            $('#bookingRequestErrorMessage').show();
        };

        window.hideError = function() {
            $('#bookingRequestErrorMessage').hide();
        };

        window.onBookingRequestSendingBegin = function() {
            $('#btnSendBookingRequest').html('@Ottostugan.Resources.Labels.SendingBookingRequest').attr('disabled', 'disabled');
            hideError();
            $('#bookingConfirmMessage').remove();
        };

        window.onBookingRequestSendingComplete = function() {
            $('#btnSendBookingRequest').html('@Ottostugan.Resources.Labels.Send').removeAttr('disabled');
            hideError();
        };

        function getSearchType() {
            var fullWeekSearchBtn = document.getElementById("rbtnFullWeek");
            var splittedWeekSearchBtn = document.getElementById("rbtnSplittedWeek");
            var chooseFreelySearchBtn = document.getElementById("rbtnChooseFreely");

            if (chooseFreelySearchBtn.checked) {
                $('.chooseFreelyDatepickers').show();
                return chooseFreelySearchBtn.value
            }
            $('.chooseFreelyDatepickers').hide();

            return fullWeekSearchBtn.checked ? fullWeekSearchBtn.value : splittedWeekSearchBtn.value;
        }

        window.searchBookings = function () {
            window.events.data.searchType = getSearchType();

            if (getSearchType() == "ChooseFreely") {
                window.events.data.fromDate = $("#datepickerFrom").val();
                window.events.data.toDate = $("#datepickerTo").val();
            } else {
                window.events.data.fromDate = "";
                window.events.data.toDate = "";
            }

            $('.calendar').fullCalendar('removeEventSource', window.events);
            $('.calendar').fullCalendar('addEventSource', window.events);
        };

        window.onCalendarEventClick = function(calEvent, jsEvent, view) {

            var $bookingInfo = $('#bookingInfo');
            var $bookingSubmitForm = $('#bookingSubmitForm');

            $bookingInfo.find('#startDate').text($.fullCalendar.formatDate(calEvent.start, dateFormat));
            $bookingInfo.find('#endDate').text($.fullCalendar.formatDate(calEvent.end, dateFormat));
            @*var searchType = '@Model.SearchType';
            if (searchType.toUpperCase() == 'CHOOSEFREELY') {
                $bookingInfo.find('#price').text("Skicka prisförfrågan");
                $bookingSubmitForm.find('#bookingPriceHiddenField').val("Prisförfrågan");
            } else {
                $bookingInfo.find('#price').text(calEvent.formattedPrice);
                $bookingSubmitForm.find('#bookingPriceHiddenField').val(calEvent.price);
            }*@
            $bookingInfo.find('#price').text(calEvent.formattedPrice);
            $bookingSubmitForm.find('#bookingPriceHiddenField').val(calEvent.price);
            $bookingSubmitForm.find('#bookingApartmentIdHiddenField').val('@Model.Page.Id');
            $bookingSubmitForm.find('#bookingFromDateHiddenField').val($.fullCalendar.formatDate(calEvent.start, dateFormat));
            $bookingSubmitForm.find('#bookingToDateHiddenField').val($.fullCalendar.formatDate(calEvent.end, dateFormat));

            $bookingInfo.show();
            $bookingSubmitForm.show();
            $('.selected-event').removeClass('selected-event');
            $('.' + calEvent._id).addClass('selected-event');
            window.selectedEventStartDate = jQuery.datepicker.formatDate('yy-mm-dd', calEvent._start);
            window.selectedEventEndDate = jQuery.datepicker.formatDate('yy-mm-dd', calEvent._end);
        };
    </script>

    @if (Model.StartDate.HasValue && Model.EndDate.HasValue)
    {
        <script type="text/javascript">
        console.log(@Model.StartDate.Value.Day);

        $(document).ready(function () {
            var startDate = @Model.StartDate.Value.Year + "-" + addZero(@Model.StartDate.Value.Month) + "-" + addZero(@Model.StartDate.Value.Day);
            var endDate = @Model.EndDate.Value.Year + "-" + addZero(@Model.EndDate.Value.Month) + "-" + addZero(@Model.EndDate.Value.Day);
            $("#datepickerFrom").val(startDate);
            $("#datepickerTo").val(endDate);
            searchBookings();
        })

        function addZero(number) {
            if (number.toString().length == 1) {
                return "0" + number;
            }
            return number;

        }


        window.startYear = @Model.StartDate.Value.Year;
        window.startMonth = @(Model.StartDate.Value.Month - 1);
        window.selectedEventStartDate = '@Model.StartDate.Value.ToString(ConfigurationManager.AppSettings["DateFormat"])';
        window.selectedEventEndDate = '@Model.EndDate.Value.ToString(ConfigurationManager.AppSettings["DateFormat"])';
        </script>
    }

}

