﻿@model Ottostugan.ViewModels.BookingRequestModel

 @using (Ajax.BeginForm("SendBookingRequest", "SendEmail", null, new AjaxOptions() { UpdateTargetId = "bookingSubmitForm", HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter, OnFailure = "showError", OnBegin = "onBookingRequestSendingBegin", OnComplete = "onBookingRequestSendingComplete" }, new { @class = "form-a hide", id = "bookingSubmitForm", novalidate = "novalidate" }))
 {
     <fieldset>
         <p>
             @Html.LabelFor(m => m.Name)
             @Html.TextBoxFor(m => m.Name)
             @Html.ValidationMessageFor(m => m.Name)
         </p>
         <p>
             @Html.LabelFor(m => m.Phone)
             @Html.TextBoxFor(m => m.Phone)
             @Html.ValidationMessageFor(m => m.Phone)
         </p>
         <p>
             @Html.LabelFor(m => m.Email)
             @Html.TextBoxFor(m => m.Email)
             @Html.ValidationMessageFor(m => m.Email)
         </p>
         <p>
             @Html.LabelFor(m => m.Comments)
             @Html.TextAreaFor(m => m.Comments)
             @Html.ValidationMessageFor(m => m.Comments)
         </p>
         <p>
             <button type="submit" id="btnSendBookingRequest">@Ottostugan.Resources.Labels.Send</button>
         </p>
     </fieldset>
     @Html.HiddenFor(m => m.ApartmentId, new { Value = string.Empty, id = "bookingApartmentIdHiddenField" })
     @Html.HiddenFor(m => m.FromDate, new { Value = string.Empty, id = "bookingFromDateHiddenField" })
     @Html.HiddenFor(m => m.ToDate, new { Value = string.Empty, id = "bookingToDateHiddenField" })
     @Html.HiddenFor(m => m.Price, new { Value = string.Empty, id = "bookingPriceHiddenField" })
 }

<p class="scheme-f hide" id="bookingRequestErrorMessage">@Ottostugan.Resources.Labels.BookingRequestError</p>
