﻿@model Ottostugan.ViewModels.Main.FooterModel

<footer id="footer" class="vcard">
    <ul>
        <li class="fn org">@Model.OrganisationName</li>
        <li><a class="email">@Html.Raw(Model.OrganisationEmail)</a></li>
        <li class="adr"><span class="street-address">@Model.OrganisationStreetAddress</span>, <span class="postal-code">@Model.OrganisationPostalCode</span> <span class="locality">@Model.OrganisationLocality</span></li>
        <li class="tel">@Model.OrganisationPhone</li>
    </ul>
</footer>
