﻿@using Ottostugan.Enums
@model Ottostugan.Models.SocialMediaLink

@{
    ViewBag.Title = Ottostugan.Resources.Extensions.ManageSiteData;
    
}

@{

    var items = new List<object> {new {Id = (int)SocialMediaType.Facebook, Name = "Facebook"}, 
        new {Id = (int)SocialMediaType.Twitter, Name = "Twitter"}, 
        new {Id = (int)SocialMediaType.GooglePlus, Name = "Google Plus"}};

    var socialMediaTypes = new SelectList(items, "Id", "Name");
}

@{ Html.EnableClientValidation(); }

@section Toolbar {
@Html.Partial("Partial/Tabs")
<div class="toolbar">
  <div class="inner">
    <ul>
      <li><a class="save submit">
        @Piranha.Resources.Global.ToolbarSave</a></li>
      <li><a href="@Url.Action("index")" class="back">
        @Piranha.Resources.Global.ToolbarBack</a></li>
      <li><a href="@Url.Action("edit", new { id = Model.Id })" class="refresh">
        @Piranha.Resources.Global.ToolbarReload</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
}
@{ Html.BeginForm() ; }
@Html.HiddenFor(m => m.Id)
<div class="grid_12">
  <div class="box">
    <div class="title"><h2>Edit Link</h2></div>
    <div class="inner">
      <ul class="form">
        <li>
          @Html.LabelFor(m => m.Name)
            <div class="input">@Html.TextBoxFor(m => m.Name)</div>
             @Html.ValidationMessageFor(m => m.Name)
        </li>
          <li>
              @Html.LabelFor(m => m.Value)
              <div class="input">@Html.TextBoxFor(m => m.Value)</div>
              @Html.ValidationMessageFor(m => m.Value)
          </li>
          <li>
              @Html.LabelFor(m=>m.Type)
              <div class="input">@Html.DropDownListFor(m=>m.Type, socialMediaTypes)</div>
          </li>
      </ul>
    </div>
  </div>
</div>
@{ Html.EndForm() ; }

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
