﻿@using Ottostugan.Enums
@model Ottostugan.Models.SocialMediaLink[]

@{
    ViewBag.Title = "Links";
}

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li><a href="@Url.Action("edit")" class="add">
                    @Piranha.Resources.Global.ToolbarAdd</a></li>
                <li><a href="@Url.Action("index")" class="refresh">
                    @Piranha.Resources.Global.ToolbarReload</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

<div class="grid_12">
    <table class="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pref in Model)
            {
                <tr>
                    <td class="name"><a href="@Url.Action("edit", new { @id = pref.Id })">@pref.Name</a></td>
                    <td>@pref.Value</td>
                    <td>@(pref.Type.HasValue ? Enum.GetName(typeof(SocialMediaType), pref.Type) : string.Empty)</td>
                    <td class="buttons">
                        <a class="icon delete" title="Delete Link" href="@Url.Action("delete", new { @id = pref.Id })"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
