﻿@using Piranha.Extend.Regions
@model Ottostugan.Extensions.PageModels.AboutUsPageModel

@{
    ViewBag.Title = Model.Page.Title;

    var content = Model.Region<HtmlRegion>("AboutUsContent");
}

<section id="content" style="overflow-wrap: break-word;">
    @Html.Raw(content.ToHtmlString())
</section>


