﻿@using System.Configuration
@using Ottostugan.Helpers
@model Ottostugan.Areas.Manager.Models.PriceListModel
@{
    ViewBag.Title = "Edit Price List";
}

@{
    var canAddNewPriceListRow = Model.Id != 0;
}

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a class="save submit">@Piranha.Resources.Global.ToolbarSave</a>
                </li>
                @if (canAddNewPriceListRow)
                {
                    <li>
                        <a href="@Url.Action("editrow", new {priceListId = Model.Id})" class="add">@Piranha.Resources.Global.ToolbarAdd</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("index")" class="back">@Piranha.Resources.Global.ToolbarBack</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}
@{ Html.BeginForm(); }

@Html.HiddenFor(m => m.Id)

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Edit Price List</h2>
        </div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Name)
                    <div class="input">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                    @Html.ValidationMessageFor(m => m.Name)
                    @Html.ValidationMessage("SaveBookingsError")
                </li>
            </ul>
        </div>
    </div>
</div>

@{ Html.EndForm(); }

@{
    var dateFormat = ConfigurationManager.AppSettings["DateFormat"];
}

 @if (canAddNewPriceListRow)
 {
     <div class="grid_12" id="bookingsListContainer">
         <table class="list" id="list">
             <thead>
                 <tr>
                     <th><span class="sort" data-sort="fromdate">From</span></th>
                     <th><span class="sort" data-sort="todate">To</span></th>
                     <th><span class="sort" data-sort="pricefullweek">Price Full Week</span></th>
                     <th><span class="sort" data-sort="pricesplittedthurssun">Price Splitted Thurs-Sun</span></th>
                     <th><span class="sort" data-sort="pricesplittedsunthurs">Price Splitted Sun-Thurs</span></th>
                     <th></th>
                     <th></th>
                 </tr>
             </thead>
             <tbody class="list-js">
                 @foreach (var row in Model.PriceListRows)
                 {
                     <tr>
                         <td class="fromdate date">@row.FromDate.ToString(dateFormat)</td>
                         <td class="todate date">@row.ToDate.ToString(dateFormat)</td>
                         <td class="pricefullweek">@row.PriceFullWeek</td>
                         <td class="pricesplittedthurssun">@row.PriceSplittedThursSun</td>
                         <td class="pricesplittedsunthurs">@row.PriceSplittedSunThurs</td>
                         <td class="buttons">
                             <a href="@Url.Action("editrow", new {rowId = row.Id, priceListId = row.PriceListId}).ToLowerInvariant()" class="icon edit marg" title="Edit Price List Row"></a>
                         </td>
                         <td class="buttons">
                             <a class="icon delete" title="Delete Price List Row" href="@Url.Action("deleterow", new { @id = row.Id })"></a>
                         </td>
                     </tr>
                 }
             </tbody>
         </table>
     </div>
 }

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="@Url.Content(GlobalizeUrls.Globalize)" type="text/javascript"></script>
<script src="@Url.Content(GlobalizeUrls.GlobalizeCulture)" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/globalize/globalize.validation.js"></script>

<script type="text/javascript">
    window.createList = function () {
        var options = {
            listClass: 'list-js',
            searchId: 'search',
            valueNames: ['fromdate', 'todate', 'pricefullweek', 'pricesplittedthurssun', 'pricesplittedsunthurs']
        };
        var list = new List('list', options);
    };

    $(document).ready(function () {
        window.createList();
    });
</script>
