﻿@model Ottostugan.Areas.Manager.Models.PriceListRowModel
@using System.Configuration
@using Ottostugan.Helpers
@{
    ViewBag.Title = "Edit Price List Row";
}

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a class="save submit">@Piranha.Resources.Global.ToolbarSave</a>
                </li>
                <li>
                    <a href="@Url.Action("edit", new {id = Model.PriceListId})" class="back">@Piranha.Resources.Global.ToolbarBack</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

@{ Html.BeginForm(); }

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Edit Price List Row</h2>
        </div>
        <div class="inner">
            @Html.HiddenFor(m => m.PriceListId)
            @Html.HiddenFor(m => m.Id)
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.FromDate)
                    <div class="input">
                        @if (Model.FromDate == DateTime.MinValue)
                        {
                            @Html.TextBoxFor(m => m.FromDate, new { Value = string.Empty, id = "fromDate", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.FromDate, new { id = "fromDate", autocomplete = "off" })
                        }
                    </div>
                    @Html.ValidationMessage("FromDateMustBeSunday")
                </li>
                <li>
                    @Html.LabelFor(m => m.ToDate)
                    <div class="input">
                        @if (Model.ToDate == DateTime.MinValue)
                        {
                            @Html.TextBoxFor(m => m.ToDate, new {Value = string.Empty, id = "toDate", autocomplete = "off"})
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ToDate, new {id = "toDate", autocomplete = "off"})
                        }
                    </div>
                    @Html.ValidationMessage("FromDateShouldBeLessThanToDate")
                    @Html.ValidationMessage("ToDateMustBeSunday")
                </li>
                <li>
                    @Html.LabelFor(m => m.PriceFullWeek)
                    <div class="input">@Html.TextBoxFor(m => m.PriceFullWeek, new { autocomplete = "off" })</div>
                    @Html.ValidationMessageFor(m => m.PriceFullWeek)
                </li>
                <li>
                    @Html.LabelFor(m => m.PriceSplittedThursSun)
                    <div class="input">@Html.TextBoxFor(m => m.PriceSplittedThursSun, new { autocomplete = "off" })</div>
                    @Html.ValidationMessageFor(m => m.PriceSplittedThursSun)
                </li>
                <li>
                    @Html.LabelFor(m => m.PriceSplittedSunThurs)
                    <div class="input">@Html.TextBoxFor(m => m.PriceSplittedSunThurs, new { autocomplete = "off" })</div>
                    @Html.ValidationMessageFor(m => m.PriceSplittedSunThurs)
                </li>
            </ul>
            @Html.ValidationMessage("SavePriceListRow")
        </div>
    </div>
</div>

@{ Html.EndForm(); }

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="@Url.Content(GlobalizeUrls.Globalize)" type="text/javascript"></script>
<script src="@Url.Content(GlobalizeUrls.GlobalizeCulture)" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/globalize/globalize.validation.js"></script>

<script type="text/javascript">

    var dateFormat = '@ConfigurationManager.AppSettings["JQuery.Datepicker.DateFormat"]';
    var firstDay = '@ConfigurationManager.AppSettings["JQuery.Datepicker.FirstDay"]';

    $(function () {
        $('#fromDate').datepicker({
            dateFormat: dateFormat,
            //beforeShowDay: function (date) {
            //    return [date.getDay() === 0];
            //},
            firstDay: firstDay,
            onSelect: function (selected) {
                $("#toDate").datepicker("option", "defaultDate", selected);
            }
        });
    });

    $(function () {
        $('#toDate').datepicker({
            dateFormat: dateFormat,
            //beforeShowDay: function (date) {
            //    return [date.getDay() === 0];
            //},
            firstDay: firstDay
        });
    });

    jQuery(function ($) {
        $.validator.addMethod('date',
        function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate(dateFormat, value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
    });

</script>