﻿@model Tuple<bool, Ottostugan.Models.PriceList[]>

@{
    ViewBag.Title = "Price Lists";
}

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li><a href="@Url.Action("edit")" class="add">
                    @Piranha.Resources.Global.ToolbarAdd</a></li>
                <li><a href="@Url.Action("index", new {st = 0})" class="refresh">
                    @Piranha.Resources.Global.ToolbarReload</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

@if (Model.Item1)
{
    <div class="grid_12 sys-message" style="">
        <div class="box error">
            <div class="inner">
                <div class="ico"></div>
                <p>Price list can't be deleted because it is used on apartment page!</p>
            </div>
        </div>
    </div>
}

<div class="grid_12 content left" id="priceListsContainer">
    @Html.Partial("Partial/PriceListsList", Model.Item2)
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    window.createList = function () {
        var options = {
            listClass: 'list-js',
            searchId: 'search',
            valueNames: ['name']
        };
        var list = new List('list', options);
    };

    $(document).ready(function () {
        window.createList();
    });
</script>