﻿@using Ottostugan.Resources
@using Piranha.Extend.Regions
@model Ottostugan.Extensions.PageModels.ContactUsPageModel

@{
    ViewBag.Title = Model.Page.Title;

    var content = Model.Region<HtmlRegion>("AboutUsContent");
}

<section id="content">
    <h1>@Labels.ContactUs</h1>
    <p>@Model.OrganisationStreetAddress<br/>@Model.OrganisationPostalCode @Model.OrganisationLocality</p>
    <p>För bokning ring:<br/>@Model.OrganisationPhone</p>
    <p>Eller maila till:<br/><span class="email">@Model.OrganisationEmail</span></p>
</section>


