﻿@charset "utf-8";
/* -------------------------------------------

	Name: 		Ottostugan
	Date:		2014/03/21
	Author:		http://psdhtml.me
			   		   
---------------------------------------------  */
/** { margin: 0; padding: 0; }*/

/*html { overflow-y: scroll; min-height: 100%; margin: 0 0 1px; font-size: 100.01%; -webkit-tap-highlight-color: rgba(0,0,0,0); }*/
/*body {
    min-height: 100%;
    min-width: 1500px;
    padding-top: 28px;
    background: #fff;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}*/

/*body, textarea, input, select, option, button { color: #747474; font-family: Lato, Arial, Helvetica, sans-serif; line-height: 1.5; }
li, dt, dd, p, figure, th, td, caption, legend, pre { font-size: 1.6em; } li *, dt *, dd *, p *, figure *, th *, td *, legend * { font-size: 1em; }
ul, ol, dl, p, figure, table, pre, h1, h2, h3, h4, h5, h6, legend { margin-bottom: 24px; }*/

/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div { display: block; }*/


/*! Layout --------- */
/*#root { }
	#top { position: relative; border-bottom: 1px solid #cecece; background: #f4f4f4; }
	#top:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
		#top h1 { width: 960px; margin: 0 auto; color: #6c6c6c; font-weight: 400; font-size: 3em; font-family: 'Sorts Mill Goudy', serif; line-height: 50px; text-transform: lowercase; }
			#top h1 a { color: #6c6c6c; text-decoration: none; }
		#skip { position: fixed; top: 0; left: -10000px; }
			#skip a:focus, #skip a:active { display: block; position: absolute; left: 10000px; top: 0; z-index: 10001; width: 200px; margin: 15px 0 0 15px; padding: 4px 8px; background: #333; color: #fff; font-weight: 500; font-size: 1.1em; text-align: center; text-decoration: none; }
		#nav { position: absolute; right: 50%; top: 24px; margin: 0 -480px 0 0; }
			#nav > ul { list-style: none; margin: 0; padding: 0; }
				#nav > ul > li { float: left; margin: 0; padding: 0 0 0 31px; font-size: 1.4em; }
				#nav > ul > li > a { display: block; float: left; height: 47px; border-bottom: 3px solid #f4f4f4; color: #838383; line-height: 50px; text-decoration: none; }
				#nav > ul > li.a > a { color: #353535; }
					#nav > ul > li > a:hover, #nav > ul > li > a:focus, #nav > ul > li > a:active, #nav > ul > li.active > a { border-color: #cecece; } 
			#nav em { position: absolute; left: -3000em; top: -3000em; }
	#featured { overflow: hidden; padding: 157px 0 145px; background: url(../images/featured.jpg) center 0 no-repeat; background-size: cover; text-align: center; }*/
#featured {
	overflow: hidden;
	padding: 157px 0 145px;
	background: url(../images/featured.jpg) center 0 no-repeat;
	background-size: cover;
	text-align: center;
}
	#featured h2 {
		margin: 0 0 44px;
		font-size: 3.2em;
		font-family: 'Sorts Mill Goudy', serif;
		line-height: 1.2;
		color: white;
		text-shadow: 2px 2px 5px black;
	}
			#featured h2 span { font-style: italic; }
	/*#content { position: relative; width: 960px; margin: 0 auto; padding: 34px 0; }*/
/*#contentHouse {
    position: relative;
    width: 1500px;
    margin: 0 auto;
    padding: 34px 0;
}
	#content:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	#footer { width: 1500px; margin: 0 auto; padding: 6px 0 8px; border-top: 1px solid #cecece; color: #959592; }
		#footer ul { list-style: none; margin: 0; padding: 0; text-align: center; }
			#footer ul li { display: inline; margin: 0; padding: 0 1px 0 5px; background: url(../images/sprite-a.png) 0 2px no-repeat; font-size: 1.2em; }
				#footer ul li:first-child { padding-left: 0; background: none; }
				#footer ul li:last-child { padding-right: 0; }
				#footer ul li.last-child { padding-right: 0; }
			#footer ul li a { color: #959592; }*/

#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

/*! Columns --------- */
/*.cols-a { width: 100%; }
.cols-a:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	.cols-a > *:first-child { float: left; }
	.cols-a > aside { float: right; width: 300px; padding: 2px 0 0; }
		.cols-a > aside.a { padding-top: 45px; }

.double-a { overflow: hidden; width: 100%; }
	.double-a > * { float: left; width: 450px; margin-left: 20px; margin-top: 20px; }
	.double-a > *:first-child { float: left; }*/
/*! Modules --------- */
.gallery-a {
	overflow: hidden;
	list-style: none;
	width: 105%;
	margin: 0 0 16px;
	padding: 0;
}
	.gallery-a li { float: left; margin: 0 10px 10px 0; }
		.gallery-a li img, .zoomy img {
			border-radius: 3px;
			max-height: 300px;
		}
	
.module-a { position: relative; margin: 0 0 10px; padding: 0 19px; border-radius: 4px 4px 2px 2px; border: 1px solid #d7d7d7; color: #888; }
	.module-a > *, .module-b > * { position: relative; z-index: 1; }
	.module-a figure { margin: -1px 0 14px -20px; } 
	.module-a figure img { border-radius: 2px 2px 0 0; }
	.module-a p, .module-b p { margin: 0 0 16px; }
	.module-a h2, .module-a h3, .module-b h2, .module-b h3 {
		margin: 0 0 9px;
		font-size: 16px;
		color: #2b2b2b;
	}
	.module-a .link, .module-b .link { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%; }
		.module-a .link a, .module-b .link a { display: block; overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-indent: -3000em; }

.module-b { position: relative; margin: 0 0 10px; padding: 16px 19px 0 151px; border-radius: 4px 2px 2px 4px; border: 1px solid #d7d7d7; color: #888; }
	.module-b figure { position: absolute; left: -1px; top: -1px; width: 130px; height: 100%; margin: 0; padding: 1px 0; border-radius: 2px 0 0 2px; background-size: cover; }
	.js .module-b figure img { position: absolute; left: -3000em; top: -3000em; }

.news-ab { overflow: hidden; width: 105%; color: #353535; }
#content.news-ab { left: 15px; width: 990px; padding-top: 39px; padding-bottom: 19px; }
	.news-ab article { float: left; width: 300px; margin: 0 30px 15px 0; }
.news-ab h2, .news-ab h3 {
	/*margin: 0 0 6px;*/
	/*font-size: 2.4em;*/
	margin-top: 20px !important;
	font-family: 'Sorts Mill Goudy', serif;
	display: -moz-inline-stack;
	display: inline-block;
	position: relative;
	height: 40px;
	/*padding: 21px 0px;*/
	color: #353535;
	line-height: 40px;
	text-decoration: none;
	font-size: 24px;
}
	.news-ab p { margin-bottom: 14px; min-height: 90px}


/*! Headers --------- */
h1, h2, h3, h4, h5, h6 { margin: 32px 0 9px; color: #353535; font-weight: 400; line-height: 1.1; }
h1, h2 { font-size: 3.0em; }
h3 { font-size: 2.2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.4em; }
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }
	h1 + h3, h2 + h3 { margin-top: 10px; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #353535; }

.header-a { margin: 0 0 15px; padding: 0 0 10px; border-bottom: 1px solid #cecece; font-size: 1.8em; }

article {
	max-width: 100%;
}

img {
	max-width: 100%;
}

#calendar{
	max-width: 600px;
}
/*! Typography --------- */
b, strong, .strong {
	font-weight: 700;
}
blockquote { margin: 1em 40px; }
dfn, em, i, .em { font-style: italic; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 65%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }

.scheme-a { color: #3b5999; }
.scheme-b { color: #00acee; }
.scheme-c { color: #dd4b39; }
.scheme-d { text-align: center; }
.scheme-e { color: #353535; 
			/*max-width: 600px;*/
}
.scheme-f { font-size: 1.8em; }
p.scheme-e {
	color: #353535;
	/*max-width: 600px;*/
}

/*! Links --------- */
a { color: #435564; text-decoration: none; cursor: pointer; } /*---*/ a span { cursor: pointer; }
	a:hover, a:focus, a:active { text-decoration: underline; }

.link-a { margin: 0 0 30px; font-size: 1.8em; text-align: center; }
	.link-a a {
		display: -moz-inline-stack;
		display: inline-block;
		position: relative;
		height: 40px;
		padding: 0 21px;
		border-radius: 2px;
		background: #435564;
		color: #fff;
		line-height: 40px;
		text-decoration: none;
		font-size: 1rem;
	}
	.ie7 .link-a a { display: inline; zoom: 1; }
.link-a.a { }
	.link-a.a a { max-width: 345px; width: 345px }
	.link-a.a a:after { content: ""; display: -moz-inline-stack; display: inline-block; position: relative; top: 3px; width: 17px; height: 17px; margin: 0 0 0 4px; background: url(../images/sprite-a.png) 0 -25px no-repeat; }
h1 + .link-a, h2 + .link-a { margin-top: 30px; }
	
	
/*! Figures --------- */
img { display: block; position: relative; border-radius: 2px; border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	img::selection { background: transparent; }
	img::-moz-selection { background: transparent; }
/*@media only screen and (min-width: 1px) { 
	img { max-width: 100% !important; } img { height: auto !important; } 
	.module-a figure img { max-width: none !important; }
}*/

figure { margin-bottom: 14px; }
	h1 + figure, h2 + figure, h3 + figure, h4 + figure, h5 + figure, h6 + figure { margin-top: 21px; }


/*! Lists --------- */
ul, ol, dd, blockquote { padding-left: 40px; }
	ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
	li { margin-bottom: 8px; }
	
.list-a { list-style: none; padding: 0; }
	
.list-b { list-style: none; margin: 0 0 9px; padding: 0; }
	.list-b li {
		position: relative;
		margin: 0 0 3px;
		padding: 0 0 0 86px;
		font-size: 17px;
	}
	.list-b li > span:first-child { position: absolute; left: 0; top: 0; }	
	
.list-c { list-style: none; margin-bottom: 27px; padding: 0; color: #353535; }
	.list-c li { position: relative; min-height: 24px; padding: 0 0 0 100px; }
	.list-c li > span:first-child { position: absolute; left: 0; top: 0; } 
	.list-c a { color: #353535; }
	
	
/*! Forms --------- */
legend, caption { display: none; padding: 0; border: 0; white-space: normal; }
fieldset, hr { border-width: 0; }
button, input[type="submit"] { padding: 0 8px; overflow: visible; cursor: pointer; -webkit-appearance: button; } button::-moz-focus-inner { padding: 0; border: 0; outline: none; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
::-webkit-input-placeholder { opacity: 1; color: inherit; }
::-moz-placeholder { opacity: 1; color: inherit; }
:-moz-placeholder { opacity: 1; color: inherit; }
:-ms-input-placeholder { opacity: 1; color: inherit; }
	:focus::-webkit-input-placeholder { opacity: 0; }
	:focus::-moz-placeholder { opacity: 0; }
	:focus:-moz-placeholder { opacity: 0; }
	:focus:-ms-placeholder { opacity: 0; }

form { }
	label { display: block; position: relative; left: 0; top: 0; z-index: 2; }
	form p { clear: both; margin-bottom: 10px; }
	form p:after { content: ""; display: block; overflow: hidden; clear: both; height: 0; }
	input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], input[type="search"], input[type="url"] { height: 38px; padding: 0 9px; } 
		.lt-ie9 input[type="text"], .lt-ie9 input[type="tel"], .lt-ie9 input[type="email"], .lt-ie9 input[type="password"], .lt-ie9 input[type="date"], .lt-ie9 input[type="number"], .lt-ie9 input[type="search"], .lt-ie9 input[type="url"] { line-height: 38px; }	
	select { padding: 8px 8px 8px 6px; } 
	textarea { padding: 7px 7px 7px 9px; } 	
		input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], input[type="search"], input[type="url"], select, textarea { position: relative; z-index: 1; border-radius: 3px; border: 1px solid #d7d7d7; background: #fefefe; }
	button { display: block; position: relative; float: left; height: 40px; padding: 0 38px; border: 0; border-radius: 3px; background: #435564; color: #fff; font-size: 18px; }

.form-a { margin: 0 0 23px; }
	.form-a p { position: relative; }
	.form-a label { display: block; padding: 0 0 4px; }
	.js .form-a label { position: absolute; padding: 0 10px; line-height: 40px; cursor: text; }
	.form-a input { width: 280px; }
	.form-a textarea { width: 282px; height: 134px; min-height: 134px; }


/*! Tables --------- */
table { display: table; width: 100%; border-collapse: collapse; border-spacing: 0; }
	th, td { padding: 5px 10px; border: 1px solid #d7d7d7; font-weight: 400; text-align: left; }


/*! Helpers --------- */
* { transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -moz-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -o-transition: color 0.4s ease 0s, border-color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s; -ms-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s, opacity 0.3s ease 0s;  transform-origin: center center; -moz-transform-origin: center center; -webkit-transform-origin: center center; -o-transform-origin: center center; }
#fancybox-wrap { transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none; -ms-transition: none; }

.clear { clear: both; overflow: hidden; width: 100%; height: 0; }
.hidden, [hidden] { position: absolute; left: -3000em; top: 0; }

hr, .hr { display: block; overflow: hidden; width: 100%; height: 1px; margin: 15px 0; padding: 0; border: 0; border-top: 1px solid #ccc; background: none; font-size: 0; } .hr hr { display: none; }


/*! Warnings --------- */
p.lt-ie9, #root:after { position: fixed; left: 0; top: 0; z-index: 1000; width: 100%; height: 28px; background: #333; color: #fff; font-size: 1.2em; font-family: Arial, Helvetica, sans-serif; line-height: 28px; text-align: center; }
	p.lt-ie9 a { color: #fff; font-weight: 700; text-decoration: underline; }
	p.lt-ie9 a:hover, p.lt-ie9 a:focus, p.lt-ie9 a:active { text-decoration: none; }
	
#root:after { content: "Ummm.. please, enable JavaScript support to fully experience this site."; }
.js #root:after { position: absolute; left: -3000em; top: -3000em; }
.js body { padding-top: 0; }
.lt-ie9 body { padding-top: 28px; }


/*! Miscellaneous --------- */
svg:not(:root) { overflow: hidden; }

::selection { background: #435564; color: #fff; text-shadow: none; }
::-moz-selection { background: #435564; color: #fff; text-shadow: none; }


/*! Fancybox --------- */
#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background-image: url('../images/fancybox/fancybox.png'); }
#fancybox-overlay { position: absolute; top: 0; left: 0; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { border: 0; overflow: auto; display: none; margin: 0; padding: 0; }
#fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 1101; outline: none; display: none; padding: 20px; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: #fff; }
#fancybox-content { width: 0; height: 0; outline: none; position: relative; overflow: hidden; z-index: 1102; border: 0 solid #fff; padding: 0; }
#fancybox-hide-sel-frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 1101; }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('../images/fancybox/fancybox.png') -40px 0; cursor: pointer; z-index: 1103; display: none; }
#fancybox-error { color: #444; font: normal 12px/20px Arial; margin: 0; padding: 14px; }
#fancybox-img { width: 100%; height: 100%; border: none; outline: none; line-height: 0; vertical-align: top; margin: 0; padding: 0; }
#fancybox-frame { width: 100%; height: 100%; border: none; display: block; }
#fancybox-left,#fancybox-right { position: absolute; bottom: 0; height: 100%; width: 35%; cursor: pointer; outline: none; background: transparent url('../images/fancybox/blank.gif'); z-index: 1102; display: none; }
#fancybox-left { left: 0; }
#fancybox-right { right: 0; }
#fancybox-left-ico,#fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url('../images/fancybox/fancybox.png'); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url('../images/fancybox/fancybox.png'); background-position: -40px -60px; }
#fancybox-left:hover,#fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; border: 0; width: 20px; height: 20px; z-index: 1001; margin: 0; padding: 0; }
#fancybox-bg-n { top: -20px; left: 0; width: 100%; background-image: url('../images/fancybox/fancybox-x.png'); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url('../images/fancybox/fancybox.png'); background-position: -40px -162px; }
#fancybox-bg-e { top: 0; right: -20px; height: 100%; background-image: url('../images/fancybox/fancybox-y.png'); background-position: -20px 0; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url('../images/fancybox/fancybox.png'); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0; width: 100%; background-image: url('../images/fancybox/fancybox-x.png'); background-position: 0 -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url('../images/fancybox/fancybox.png'); background-position: -40px -142px; }
#fancybox-bg-w { top: 0; left: -20px; height: 100%; background-image: url('../images/fancybox/fancybox-y.png'); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url('../images/fancybox/fancybox.png'); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
.fancybox-title-inside { padding-bottom: 10px; text-align: center; color: #333; background: #fff; position: relative; }
.fancybox-title-outside { padding-top: 10px; color: #fff; }
.fancybox-title-over { position: absolute; bottom: 0; left: 0; color: #FFF; text-align: left; }
#fancybox-title-over { background-image: url('../images/fancybox/fancy_title_over.png'); display: block; padding: 10px; }
.fancybox-title-float { position: absolute; left: 0; bottom: -20px; height: 32px; }
#fancybox-title-float-wrap { border: none; border-collapse: collapse; width: auto; }
#fancybox-title-float-wrap td { border: none; white-space: nowrap; }
#fancybox-title-float-left { background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat; padding: 0 0 0 15px; }
#fancybox-title-float-main { color: #FFF; line-height: 29px; font-weight: 700; background: url('../images/fancybox/fancybox-x.png') 0 -40px; padding: 0 0 3px; }
#fancybox-title-float-right { background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat; padding: 0 0 0 15px; }

.fancybox-ie .fancybox-bg { background: transparent !important; }
.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }


/*! Full Calendar --------- */
.fc { direction: ltr; margin: 13px 0 11px; text-align: left; }
.fc:first-child { margin-top: 0; }
html .fc, .fc table { font-size: 1em; }
.fc td, .fc th { vertical-align: top; padding: 0; }
	.fc-header { margin: 0; border-radius: 2px 2px 0 0; background: #ef6868; color: #fff; }
		.fc-header, .fc-header * { line-height: 32px; }
		.fc-header .fc-header-center { text-align: center; }
		.fc-header td { padding: 0 10px; border: 0; font-size: 13.17px; }
		.fc-header h2 { margin: 0; color: #fff; font-size: 16.93px; }
		.fc-header .fc-button-prev, .fc-header .fc-button-next { display: block; width: 85px; background: url(../images/sprite-a.png) -3000em -3000em no-repeat; font-size: 13.17px; cursor: pointer; }	
			.fc-header .fc-button-prev { float: left; padding-left: 12px; background-position: 0 -63px; }
			.fc-header .fc-button-next { float: right; padding-right: 12px; background-position: 100% -103px; text-align: right; }
	.fc-content { clear: both; zoom: 1; border-radius: 0 0 2px 2px; border: 1px solid #d7d7d7; border-top: 0; background: #f6f6f6; }
		.fc-content table { margin: 0; }
			.fc-content tr > * { border-right: 0; border-bottom: 0; }
			.fc-content tr > *:first-child { border-left: 0; }
		.fc-event-time { position: absolute; left: -3000em; top: -3000em; }
	.fc .fc-day-header, .fc .fc-week-number.fc-widget-header { padding: 1px 0 2px; border-top: 0; color: #353535; font-size: 10.34px; text-align: center; }
	.fc-event-container > * { z-index: 8; }
	.fc-event-container > .ui-draggable-dragging,.fc-event-container > .ui-resizable-resizing { z-index: 9; }
	.fc-view { width: 100%; overflow: hidden; }
	.fc-day > div { min-height: 56px !important; }
.fc-event {
	height: 24px;
	background-color: #70d989;
	color: #fff;
	font-size: 12.23px;
	line-height: 24px;
	text-align: center;
	cursor: default;
	border-right-style: solid;
	border-left-style: solid;
	border-width: thin;
	border-color: #ffffff !important;
}
		.fc-event-start { transform: translate(10px,0); -moz-transform: translate(10px,0); -webkit-transform: translate(10px,0); -o-transform: translate(10px,0); -ms-transform: translate(10px,0); }
		/*.fc-event-start { transform: translateX(37px); -moz-transform: translateX(37px); -webkit-transform: translateX(37px); -o-transform: translateX(37px); -ms-transform: translateX(37px); }*/
		.fc-event-start:after { content: ""; display: block; position: absolute; right: 0; top: 0; z-index: 10; width: 34px; height: 24px; background: url(../images/sprite-a.png) 100% -148px no-repeat; }
		.fc-event-start.fc-event-end { margin-top: -33px; }
		.fc-event-start .fc-event-title { position: absolute; left: -3000em; top: -3000em; }
		.fc-event-start.fc-event-end .fc-event-title { position: relative; left: -15px; top: 0; }
		.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
		.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
		a.fc-event { text-decoration: none; }
		a.fc-event, .fc-event-draggable { cursor: pointer; }
		.fc-event-inner { width: 100%; height: 100%; overflow: hidden; }
		.fc-event-hori { margin-bottom: 9px;}
	.fc-grid .fc-day-number { position: relative; top: -1px; padding: 0 5px 4px; font-size: 13.17px; }
    .fc-grid .fc-week-number {padding: 0 5px; font-size: 13.17px; }
	.fc-grid .fc-other-month .fc-day-number { color: #d7d7d7; }
	.fc-grid .fc-day-content { clear: both; padding: 0 38px 0 0; }

.hide { display: none; }
.selected-event { background-color: #70c4d9 !important; }
.ui-datepicker {
    width: 22em !important;
    z-index: 99 !important;
}
.main-logo {
	background-image: url("/Content/images/ottostugan-logo4.png");
	display: inline-block;
	background-repeat: no-repeat;
	width: 220px;
	height: 74px;
	margin-top: 3px;
}

.guestbook-comment {
    white-space: pre-line;
}

.guestbook-created-date {
    float: right;
}

#feedbackForm {
    margin-top: 20px;
}