﻿@using System.Configuration
@using Ottostugan.Extensions.Regions
@using Ottostugan.Helpers
@using Piranha.Extend.Regions
@using Piranha.Models
@model Ottostugan.Extensions.PageModels.SearchPageModel

@{
    var house1 = Model.Houses != null && Model.Houses.Count > 0 ? Model.Houses[0] : null;
    var house2 = Model.Houses != null && Model.Houses.Count > 1 ? Model.Houses[1] : null;
    var house3 = Model.Houses != null && Model.Houses.Count > 2 ? Model.Houses[2] : null;
}


<div class="row">
    <div class="col-12 col-lg-4">
        @if (house1 != null)
        {
            @RenderHouse(house1, Model.Apartments)
        }
    </div>
    <div class="col-12 col-lg-4">
        @if (house2 != null)
        {
            @RenderHouse(house2, Model.Apartments)
        }
    </div>
    <div class="col-12 col-lg-4">
        @if (house3 != null)
        {
            @RenderHouse(house3, Model.Apartments)
        }
    </div>
</div>

@*<div class="double-a">
    @if (house1 != null)
    {
        @RenderHouse(house1, Model.Apartments)
    }
    @if (house2 != null)
    {
        @RenderHouse(house2, Model.Apartments)
    }
    @if (house3 != null)
    {
        @RenderHouse(house3, Model.Apartments)
    }
</div>*@
@*<div class="double-a">
    
</div>*@


    @helper RenderHouse(PageModel house, IDictionary<Guid, IList<Tuple<decimal, PageModel>>> apartments)
    {
        <div>
            <article class="module-a">
                <figure>
                    <img width="450" height="220" alt="@GetMainImage(house).Description" src="@UI.Content(GetMainImage(house).Id, 450, 220)">
                </figure>
                @Html.Raw(house.Region<HtmlRegion>("HouseText"))
                <p class="link">
                    <a href="javascript:void(0);">@Ottostugan.Resources.Labels.ReadMore</a>
                </p>
            </article>
            @if (Model.Apartments != null && Model.Apartments.ContainsKey(house.Page.Id))
            {
                foreach (var apartment in Model.Apartments[house.Page.Id])
                {
                    @RenderApartment(apartment)
                }
            }
            else
            {
                <p class="scheme-d" style="text-align:center"><i>@Ottostugan.Resources.Labels.NoAvailableApartmentsInThisHouseForSelectedDate</i></p>
            }
        </div>
    }



    @helper RenderApartment(Tuple<decimal, PageModel> apartment)
    {
        <article class="module-b" data-apartment-id="@apartment.Item2.Page.Id">
            @{
                var aImg = apartment.Item2.Region<ImageRegion>("ApartmentMainImage");
                var aName = apartment.Item2.Region<SimpleTextRegion>("ApartmentName").Text;
                var aText = apartment.Item2.Region<SimpleTextRegion>("ApartmentShortText").Text;
            }
            <figure>
                <img src="@UI.Content(aImg.Id, 130, 160)" alt="@aImg.Description" width="130" height="160">
            </figure>
            @if (apartment.Item1.NormalizeDecimal() < 1)
            {
                <h3>@aName</h3>
            }
            else
            {
                <h3>@aName - @apartment.Item1.NormalizeDecimal().ToString("# ##0.##") @ConfigurationManager.AppSettings["CurrencySymbol"]</h3>
            }

            <p>@Html.Raw(aText)</p>
            <p class="link"><a href="/@apartment.Item2.Page.Permalink">@Ottostugan.Resources.Labels.ReadMore</a></p>
        </article>
    }

    @functions
{
        ImageRegion GetMainImage(Piranha.Models.PageModel house)
        {
            return house.Region<ImageRegion>("HouseMainImage");
        }
    }
