﻿@using System.Configuration
@using Ottostugan.Helpers
@model Ottostugan.Areas.Manager.Models.ManageBookingsModel
@{
    ViewBag.Title = "Manage Bookings";
}

@Html.Hidden("__page__culture__", @System.Globalization.CultureInfo.CurrentUICulture.Name)

@{ Html.EnableClientValidation(); }

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a class="save submit">@Piranha.Resources.Global.ToolbarSave</a>
                </li>
                <li>
                    <a href="@Url.Action("index")" class="back">@Piranha.Resources.Global.ToolbarBack</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}
@{ Html.BeginForm(); }

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Manage Bookings</h2>
        </div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.FromDate)
                    <div class="input">
                        @if (Model.FromDate == DateTime.MinValue)
                        {
                            @Html.TextBoxFor(m => m.FromDate, new { Value = string.Empty, id = "fromDate", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.FromDate, new { id = "fromDate", autocomplete = "off" })
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.FromDate)
                </li>
                <li>
                    @Html.LabelFor(m => m.ToDate)
                    <div class="input">
                        @if (Model.ToDate == DateTime.MinValue)
                        {
                            @Html.TextBoxFor(m => m.ToDate, new { Value = string.Empty, id = "toDate", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ToDate, new { id = "toDate", autocomplete = "off" })
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.ToDate)
                    @Html.ValidationMessage("FromDateShouldBeLessThanToDate")
                </li>
                <li>
                    @Html.LabelFor(m => m.SelectedApartments)
                    @foreach (var a in Model.Apartments)
                    {
                        <p>
                            <input type="checkbox" name="SelectedApartments" value="@a.Id" @(Model.SelectedApartments != null && Model.SelectedApartments.Contains(a.Id) ? "checked=\"checked\"": string.Empty)/>
                            @Html.Raw(a.Title)
                        </p>
                    }
                    @Html.ValidationMessage("SelectedApartments")
                    @Html.ValidationMessage("SaveBookingsError")
                </li>
                <li>
                    @Html.LabelFor(m => m.Status)
                    <div class="input">@Html.DropDownListFor(m => m.Status, Model.BookingStatusesSelectList)</div>
                    @Html.ValidationMessageFor(m => m.Status)
                </li>
                <li>
                    @Html.LabelFor(m => m.Price)
                    <div class="input">@Html.TextBoxFor(m => m.Price, new { autocomplete = "off" })</div>
                    @Html.ValidationMessageFor(m => m.Price)
                </li>
                <li>
                    @Html.LabelFor(m => m.IsPaidDeposit)
                    <p>@Html.CheckBoxFor(m => m.IsPaidDeposit)</p>
                </li>
                <li>
                    @Html.LabelFor(m => m.IsPaidFully)
                    <p>@Html.CheckBoxFor(m => m.IsPaidFully)</p>
                </li>
                <li>
                    @Html.LabelFor(m => m.BookedByName)
                    <div class="input">@Html.TextBoxFor(m => m.BookedByName)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.BookedByEmail)
                    <div class="input">@Html.TextBoxFor(m => m.BookedByEmail)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.BookedByPhone)
                    <div class="input">@Html.TextBoxFor(m => m.BookedByPhone)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Comments)
                    <div class="input">@Html.TextAreaFor(m => m.Comments)</div>
                </li>
            </ul>
        </div>
    </div>
</div>

@{ Html.EndForm(); }

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="@Url.Content(GlobalizeUrls.Globalize)" type="text/javascript"></script>
<script src="@Url.Content(GlobalizeUrls.GlobalizeCulture)" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/globalize/globalize.validation.js"></script>

<script type="text/javascript">

    var dateFormat = '@ConfigurationManager.AppSettings["JQuery.Datepicker.DateFormat"]';
    var firstDay = '@ConfigurationManager.AppSettings["JQuery.Datepicker.FirstDay"]';

    $(function () {
        $('#fromDate').datepicker({
            dateFormat: dateFormat,
                //beforeShowDay: function (date) {
                //    return [date.getDay() === 0 || date.getDay() === 4, ''];
                //},
            firstDay: firstDay,
            onSelect: function (selected) {
                $("#toDate").datepicker("option", "defaultDate", selected);
            }
        });
    });

    $(function () {
        $('#toDate').datepicker({
            dateFormat: dateFormat,
            //beforeShowDay: function (date) {
            //    return [date.getDay() === 0 || date.getDay() === 4, ''];
            //},
            firstDay: firstDay
        });
    });

    jQuery(function ($) {
        $.validator.addMethod('date',
        function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate(dateFormat, value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
    });

</script>
