﻿@using System.Configuration
@using Ottostugan.Helpers
@model Ottostugan.Areas.Manager.Models.EditBookingModel
@{
    ViewBag.Title = "Edit Booking";
}

@{ Html.EnableClientValidation(); }

@Html.Hidden("__page__culture__", @System.Globalization.CultureInfo.CurrentUICulture.Name)

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a class="save submit">@Piranha.Resources.Global.ToolbarSave</a>
                </li>
                <li>
                    <a href="@Url.Action("index")" class="back">@Piranha.Resources.Global.ToolbarBack</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}
@{ Html.BeginForm(); }

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Edit Booking</h2>
        </div>
        <div class="inner">
            @Html.HiddenFor(m=>m.Booking.Id)
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.Booking.FromDate)
                    <div class="input">
                        @if (Model.Booking.FromDate == DateTime.MinValue)
                        {
                            @Html.TextBoxFor(m => m.Booking.FromDate, new { Value = string.Empty, id = "fromDate", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Booking.FromDate, new { Value = Model.Booking.FromDate.ToString(ConfigurationManager.AppSettings["DateFormat"]), id = "fromDate", autocomplete = "off" })
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.Booking.FromDate)
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.ToDate)
                   <div class="input">
                        @if (Model.Booking.ToDate == DateTime.MinValue)
                        {
                            @Html.TextBoxFor(m => m.Booking.ToDate, new { Value = string.Empty, id = "toDate", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Booking.ToDate, new { Value = Model.Booking.ToDate.ToString(ConfigurationManager.AppSettings["DateFormat"]), id = "toDate", autocomplete = "off" })
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.Booking.ToDate)
                    @Html.ValidationMessage("FromDateShouldBeLessThanToDate")
                    @Html.ValidationMessage("SaveBookingsError")
                </li>
                <li>
                    <label>Apartment</label>
                    <div class="input"><span>@Model.Apartment.Title</span></div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.Status)
                    <div class="input">@Html.DropDownListFor(m => m.Booking.Status, Model.BookingStatusesSelectList)</div>
                    @Html.ValidationMessageFor(m => m.Booking.Status)
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.Price)
                    <div class="input">@Html.TextBoxFor(m => m.Booking.Price, new { autocomplete = "off" })</div>
                    @Html.ValidationMessageFor(m => m.Booking.Price)
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.IsPaidDeposit)
                    <p>@Html.CheckBoxFor(m => m.Booking.IsPaidDeposit)</p>
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.IsPaidFully)
                    <p>@Html.CheckBoxFor(m => m.Booking.IsPaidFully)</p>
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.BookedByName)
                    <div class="input">@Html.TextBoxFor(m => m.Booking.BookedByName)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.BookedByEmail)
                    <div class="input">@Html.TextBoxFor(m => m.Booking.BookedByEmail)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.BookedByPhone)
                    <div class="input">@Html.TextBoxFor(m => m.Booking.BookedByPhone)</div>
                </li>
                <li>
                    @Html.LabelFor(m => m.Booking.Comments)
                    <div class="input">@Html.TextAreaFor(m => m.Booking.Comments)</div>
                </li>
            </ul>
        </div>
    </div>
</div>

@{ Html.EndForm(); }

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="@Url.Content(GlobalizeUrls.Globalize)" type="text/javascript"></script>
<script src="@Url.Content(GlobalizeUrls.GlobalizeCulture)" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/globalize/globalize.validation.js"></script>

<script type="text/javascript">

    var dateFormat = '@ConfigurationManager.AppSettings["JQuery.Datepicker.DateFormat"]';
    var firstDay = '@ConfigurationManager.AppSettings["JQuery.Datepicker.FirstDay"]';

    $(function () {
        $('#fromDate').datepicker({
            dateFormat: dateFormat,
            //beforeShowDay: function (date) {
            //    return [date.getDay() === 0 || date.getDay() === 4, ''];
            //},
            firstDay: firstDay,
            onSelect: function (selected) {
                $("#toDate").datepicker("option", "defaultDate", selected);
            }
        });
    });

    $(function () {
        $('#toDate').datepicker({
            dateFormat: dateFormat,
            //beforeShowDay: function (date) {
            //    return [date.getDay() === 0 || date.getDay() === 4, ''];
            //},
            firstDay: firstDay
        });
    });

    jQuery(function ($) {
        $.validator.addMethod('date',
        function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate(dateFormat, value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
    });

</script>
