﻿@model Ottostugan.Areas.Manager.Models.BookingListViewModel

@{
    ViewBag.Title = "Bookings";
}

<style type="text/css">
    table.list td {
        padding: 5px 10px;
    }

    table.list .booked {
        width: 80px;
        word-break: break-all;
    }

    table.list .booked.byemail {
        width: 100px;
    }

    .grid_3{
        width: 170px !important;
    }
</style>
@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a href="@Url.Action("edit")" class="add">
                        @Piranha.Resources.Global.ToolbarAdd
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index")" class="refresh">
                        @Piranha.Resources.Global.ToolbarReload
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

@using (Ajax.BeginForm("Index", "Booking", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "bookingsListContainer",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "window.createList()"
}))
{

    <div class="grid_3">
        <div class="box">
            <div class="title">
                <h2>House</h2>
            </div>
            <div class="inner">
                <div class="input auto_submit_item">@Html.DropDownListFor(m => m.Filter.HouseId, new SelectList(Model.Houses, "Id", "Title"), "All Houses")</div>
            </div>
        </div>
    </div>

    <div class="grid_3">
        <div class="box">
            <div class="title">
                <h2>Apartments</h2>
            </div>
            <div class="inner">
                <div class="input auto_submit_item">@Html.DropDownListFor(m => m.Filter.ApartmentId, new SelectList(Model.Apartments, "Id", "Title"), "All apartments")</div>
            </div>
        </div>
    </div>

    <div class="grid_3">
        <div class="box">
            <div class="title">
                <h2>From Date</h2>
            </div>
            <div class="inner">
                <div class="input auto_submit_item">@Html.EditorFor(m => m.Filter.FromDate)</div>
            </div>
        </div>
    </div>

    <div class="grid_3">
        <div class="box">
            <div class="title">
                <h2>To Date</h2>
            </div>
            <div class="inner">
                <div class="input auto_submit_item">@Html.EditorFor(m => m.Filter.ToDate)</div>
            </div>
        </div>
    </div>

    <div class="grid_3">
        <div class="box">
            <div class="title">
                <h2>Status</h2>
            </div>
            <div class="inner">
                <div class="input auto_submit_item">@Html.DropDownListFor(m => m.Filter.Status, Model.BookingStatusesSelectList)</div>
            </div>
        </div>
    </div>

}

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Quick Search</h2>
        </div>
        <div class="inner">
            <div class="input">@Html.TextBox("search", string.Empty, new { autocomplete = "off" })</div>
        </div>
    </div>
</div>

<div class="grid_12" id="bookingsListContainer">
    @Html.Partial("Partial/BookingsList", Model.Bookings)
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    $(function () {
        $(".auto_submit_item").change(function () {
            $(this).closest("form").submit();
        });
    });

    $(function () {
        $("[name='Filter.FromDate']").datepicker({
            dateFormat: 'yy-mm-dd',
            firstDay: 1
        });
    });

    $(function () {
        $("[name='Filter.ToDate']").datepicker({
            dateFormat: 'yy-mm-dd',
            firstDay: 1
        });
    });

    jQuery(function ($) {
        $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('yy-mm-dd', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
    });

    window.createList = function () {
        var options = {
            listClass: 'list-js',
            searchId: 'search',
            valueNames: ['name', 'status', 'fromdate', 'todate', 'bookedbyname', 'ispaiddeposit', 'ispaidfully', 'created']
        };
        var list = new List('list', options);
    };

    $(document).ready(function () {
        window.createList();
    });
</script>
