﻿@using System.Resources
@model Ottostugan.Extensions.Regions.ContentPageRegion

<ul class="form">
    <li>
        @Html.LabelFor(m => m.Id)
        <div class="input">@Html.DropDownListFor(m => m.Id, Model.ContentPages, Ottostugan.Resources.Extensions.ContentPageRegionNameLabel)</div>
    </li>
</ul>