﻿@using System.Resources
@model Ottostugan.Extensions.Regions.PriceListRegion

<ul class="form">
    <li>
        @Html.LabelFor(m => m.Id)
        <div class="input">@Html.DropDownListFor(m => m.Id, Model.PriceLists, "Please select price list")</div>
    </li>
</ul>