﻿@using System.Resources
@using Ottostugan.Enums
@model Ottostugan.Extensions.Regions.SocialMediaLinkRegion

<ul class="form">
    <li>
        @Html.LabelFor(m => m.Id)
        <div class="input">@Html.DropDownListFor(m => m.Id, Model.SocialMediaLinks, Ottostugan.Resources.Extensions.SocialMediaLinkNameLabel)</div>
    </li>
</ul>