﻿@using System.Configuration
@model Ottostugan.Areas.Manager.Models.GuestFeedbackViewModel

@{
    ViewBag.Title = "Manage Guestbook";
    var dateFormat = ConfigurationManager.AppSettings["DateFormat"];
}

@Html.Hidden("__page__culture__", @System.Globalization.CultureInfo.CurrentUICulture.Name)

@{ Html.EnableClientValidation(); }

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a class="save submit">@Piranha.Resources.Global.ToolbarSave</a>
                </li>
                <li>
                    <a href="@Url.Action("index")" class="back">@Piranha.Resources.Global.ToolbarBack</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

@{ Html.BeginForm(); }

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Edit Guest Feedback</h2>
        </div>
        <div class="inner">
            <ul class="form">
                <li>
                    @Html.LabelFor(m => m.CreatedDate)
                    <p>@Model.CreatedDate.ToString(dateFormat)</p>
                </li>
                <li>
                    @Html.LabelFor(m => m.From)
                    <div class="input">@Html.TextBoxFor(m => m.From)</div>
                    @Html.ValidationMessageFor(m => m.From)
                </li>
                <li>
                    @Html.LabelFor(m => m.Comment)
                    <div class="input">@Html.TextAreaFor(m => m.Comment, new {rows = 15})</div>
                    @Html.ValidationMessageFor(m => m.Comment)
                </li>
                <li>
                    @Html.LabelFor(m => m.Published)
                    <p>@Html.CheckBoxFor(m => m.Published)</p>
                </li>
            </ul>
        </div>
    </div>
</div>

@Html.HiddenFor(m=>m.Id)

@{ Html.EndForm(); }

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
