﻿@using System.Configuration
@model Ottostugan.Models.GuestFeedback[]

@{
    ViewBag.Title = "Guestbook";
}

@{
    var dateFormat = ConfigurationManager.AppSettings["DateFormat"];
}

@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li><a href="@Url.Action("index")" class="refresh">
                    @Piranha.Resources.Global.ToolbarReload</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
}

<div class="grid_12">
    <div class="box">
        <div class="title">
            <h2>Quick Search</h2>
        </div>
        <div class="inner">
            <div class="input">@Html.TextBox("search", string.Empty, new {autocomplete = "off"})</div>
        </div>
    </div>
</div>

<div class="grid_12">
    <table class="list" id="list">
        <thead>
        <tr>
            <th><span class="sort" data-sort="from">From</span></th>
            <th><span class="sort" data-sort="createddate">Created Date</span></th>
            <th><span class="sort" data-sort="comment">Comment</span></th>
            <th><span class="sort" data-sort="published">Published</span></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody class="list-js">
        @foreach (var feedback in Model)
        {
            <tr>
                <td class="from">
                    <a href="@Url.Action("edit", new {id = feedback.Id}).ToLowerInvariant()" title="From">@feedback.From</a>
                </td>
                <td class="createddate">@feedback.CreatedDate.ToString(dateFormat)</td>
                <td class="comment">@feedback.Comment</td>
                <td class="published">@RenderBool(feedback.Published)</td>
                <td class="buttons">
                    <a href="@Url.Action("edit", new {id = feedback.Id}).ToLowerInvariant()" class="icon edit marg" title="Edit Feedback"></a>
                </td>
                <td class="buttons">
                    <a class="icon delete" href="@Url.Action("delete", new {id = feedback.Id}).ToLowerInvariant()" onclick=" return confirm('Are you sure you want to delete this feedback?') " title="Delete Feedback"></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@helper RenderBool(bool value)
{
    if (value)
    {
        <span>Yes</span>
    }
    else
    {
        <span>No</span>
    }
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    window.createList = function () {
        var options = {
            listClass: 'list-js',
            searchId: 'search',
            valueNames: ['from', 'createddate', 'comment', 'published']
        };
        var list = new List('list', options);
    };

    $(document).ready(function () {
        window.createList();
    });
</script>
