﻿@using Ottostugan.Extensions.Regions
@using Piranha.Extend.Regions
@using Piranha.Models
@model Ottostugan.Extensions.PageModels.StartPageModel
@{
    ViewBag.Title = Model.Page.Title;
}

@{
    var title = Model.Region<PageTitleRegion>("Title").Title;
    var image = Model.Region<ImageRegion>("MainImage").Id;
}


<style type="text/css">
    #featured {
        background: url("@UI.Content(image)") center 0 no-repeat;
        background-size: cover;
    }
</style>

<article id="featured" style="min-height: 500px; height: 600px;">
    <h2>@Html.Raw(title)</h2>
    <p class="link-a" ><a href="./apartments">@Ottostugan.Resources.Labels.ViewApartments</a></p>
</article>

<div class="row news-ab">
    @RenderContentPage(Model.Content1)
    @RenderContentPage(Model.Content2)
    @RenderContentPage(Model.Content3)
    @*@RenderContentPage(Model.Content4)
    @RenderContentPage(Model.Content5)
    @RenderContentPage(Model.Content6)*@
</div>
@*<section id="content" class="news-a">
    @RenderContentPage(Model.Content1)
    @RenderContentPage(Model.Content2)
    @RenderContentPage(Model.Content3)
    @RenderContentPage(Model.Content4)
    @RenderContentPage(Model.Content5)
    @RenderContentPage(Model.Content6)
</section>*@


@helper RenderContentPage(PageModel content)
{
    if (content != null)
    {
        @Html.Partial("Partial/ContentPage", content);
    }
}
