﻿@using System.Configuration
@using Ottostugan.Resources
@using Piranha.Extend.Regions
@model Ottostugan.Extensions.PageModels.GuestBookPageModel

@{
    ViewBag.Title = Model.Page.Title;
    var dateFormat = ConfigurationManager.AppSettings["DateFormat"];
}

<section id="content">
    <article>
        <h2>@Labels.Guestbook</h2>
        <h3>@Labels.GuestbookMessage</h3>
        <div id="feedbackForm">
            @Html.Action("PostFeedback", "GuestFeedback")
        </div>
        @if (Model.Feedbacks.Any())
        {
            foreach (var feedback in Model.Feedbacks)
            {
                <h4>@feedback.From <span class="guestbook-created-date">@feedback.CreatedDate.ToString(dateFormat)</span></h4>
                <p class="guestbook-comment">@feedback.Comment</p>
                <br/>
            }
        }
    </article>
</section>

@section script
{
    <script type="text/javascript">
        window.showError = function () {
            $('#postFeedbackErrorMessage').show();
        };

        window.hideError = function () {
            $('#postFeedbackErrorMessage').hide();
        };

        window.onFeedbackSendingBegin = function () {
            $('#btnPostFeedback').html('@Labels.GuestbookSendingFeedback').attr('disabled', 'disabled');
            hideError();
            $('#postFeedbackConfirmMessage').remove();
        };

        window.onFeedbackSendingComplete = function (data, err) {
            $('#btnPostFeedback').html('@Labels.Send').removeAttr('disabled');
            window.Default.utils.forms();
            if (!err) {
                hideError();
            }
        };
    </script>

}
