﻿@model Ottostugan.Extensions.PageModels.HouseOverviewPageModel

@{
    ViewBag.Title = Model.Page.Title;

    var house1 = Model.Houses != null && Model.Houses.Count > 0 ? Model.Houses[0] : null;
    var house2 = Model.Houses != null && Model.Houses.Count > 1 ? Model.Houses[1] : null;
    var house3 = Model.Houses != null && Model.Houses.Count > 2 ? Model.Houses[2] : null;

    var searchPagePermalink = Model.SearchPage != null ? Model.SearchPage.Page.Permalink : string.Empty;
}

<section id="contentHouse">
    <h2 class="scheme-d">@Ottostugan.Resources.Labels.OurApartments</h2>
    <p class="link-a a">
        <a href="./@searchPagePermalink">@Ottostugan.Resources.Labels.SearchAvailableApartments</a>
    </p>

    @*<div class="double-a">
            <div class="col-4">
                @if (house1 != null)
                {
                    @Html.Action("HousePage", "HousePage", new { permalink = house1.Page.Permalink })
                }
            </div>
            <div class="col-4">
                @if (house2 != null)
                {
                    @Html.Action("HousePage", "HousePage", new { permalink = house2.Page.Permalink })
                }
            </div>
            <div class="col-4">
                @if (house3 != null)
                {
                    @Html.Action("HousePage", "HousePage", new { permalink = house3.Page.Permalink })
                }
            </div>
        </div>*@
    @*<div class="double-a">


        </div>*@
</section>

<div class="row">
    <div class="col-12 col-lg-4">
        @if (house1 != null)
        {
            @Html.Action("HousePage", "HousePage", new { permalink = house1.Page.Permalink })
        }
    </div>
    <div class="col-12 col-lg-4">
        @if (house2 != null)
        {
            @Html.Action("HousePage", "HousePage", new { permalink = house2.Page.Permalink })
        }
    </div>
    <div class="col-12 col-lg-4">
        @if (house3 != null)
        {
            @Html.Action("HousePage", "HousePage", new { permalink = house3.Page.Permalink })
        }
    </div>
</div>
