﻿@model Ottostugan.Models.GuestFeedbackViewModel

    @using (Ajax.BeginForm(
        "PostFeedback", "GuestFeedback", null,
        new AjaxOptions()
        {
            UpdateTargetId = "feedbackForm",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            OnFailure = "showError",
            OnBegin = "onFeedbackSendingBegin",
            OnComplete = "onFeedbackSendingComplete"
        }, new { @class = "form-a", id = "guestFeedbackSubmitForm", novalidate = "novalidate" }))
    {
        <fieldset>
            <p>
                @Html.LabelFor(m => m.From)
                @Html.TextBoxFor(m => m.From)
                @Html.ValidationMessageFor(m => m.From)
            </p>
            <p>
                @Html.LabelFor(m => m.Comment)
                @Html.TextAreaFor(m => m.Comment)
                @Html.ValidationMessageFor(m => m.Comment)
            </p>
            <p>
                <button type="submit" id="btnPostFeedback">@Ottostugan.Resources.Labels.Send</button>
            </p>
        </fieldset>
    }

@if (Model.IsSuccess)
{
    <p class="scheme-f" id="postFeedbackConfirmMessage">@Ottostugan.Resources.Labels.GuestbookFeedbackConfirmMessage</p>
}
<p class="scheme-f hide" id="postFeedbackErrorMessage">@Ottostugan.Resources.Labels.GuestbookFeedbackError</p>
