﻿@using System.Configuration
@using Ottostugan.Models
@using Ottostugan.Resources
@model Ottostugan.Extensions.PageModels.SearchPageModel

@{
    ViewBag.Title = Model.Page.Title;
}

<section id="contentHouse">
    <h2 class="scheme-d">@Ottostugan.Resources.Labels.OurApartments</h2>
    <div id="pnlSearchBookings">
        <p class="scheme-e" style="margin-top: 20px; margin-bottom: 30px; text-align: center;">
            @Html.DropDownList("ddlAdultsCount", Model.AdultsCountSelectList, new { style = "Width:80px;", id = "ddlAdultsCount", onchange = "searchBookings()" })
            &nbsp;
            <span>@Ottostugan.Resources.Labels.Persons</span>
        </p>
        <p class="scheme-e" style="margin-top: 20px; margin-bottom: 30px; text-align: center;">
            <label style="display: inline">
                @Html.RadioButtonFor(m => m.SearchType, SearchType.FullWeek, new { id = "rbtnFullWeek", onchange = "searchBookings()" })
                &nbsp;
                <span>@Labels.FullWeek</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label style="display: inline">
                @Html.RadioButtonFor(m => m.SearchType, SearchType.SplittedWeek, new { id = "rbtnSplittedWeek", onchange = "searchBookings()" })
                &nbsp;
                <span>@Labels.SplittedWeek</span>
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label style="display: inline">
                @Html.RadioButtonFor(m => m.SearchType, SearchType.ChooseFreely, new { id = "rbtnChooseFreely", onchange = "searchBookings()" })
                &nbsp;
                <span>@Labels.ChooseFreely</span>
            </label>
        </p>

        <p></p>
        <div class="chooseFreelyDatepickers" style="text-align: center; display: none;">
            <input type="text" id="datepickerFrom" placeholder="Från datum">
            <input type="text" id="datepickerTo" placeholder="Till datum">
        </div>
        <div style="margin-top: 20px; margin-bottom: 30px;">
            <div class="calendar" style="max-width: 600px; margin: 0 auto;"></div>
        </div>
    </div>
    <div id="selectedBookingInfo" class="hide">
        <p class="scheme-d" style="text-align:center">
            <span>@(Ottostugan.Resources.Labels.Date):</span>
            <span id="startDate" class="scheme-e"></span>
            @Ottostugan.Resources.Labels.To
            <span id="endDate" class="scheme-e"></span>
        </p>
    </div>
    <div id="searchResultsContainer"></div>
</section>

@section script
{
    <script type="text/javascript">

        window.dateFormat = '@ConfigurationManager.AppSettings["DateFormat"]';

        head.js('@Url.Content("/Scripts/views/search-page.js")');

        window.searchUrl = '@Url.Action("Search", "SearchApartments")';

        var adultsDDL = document.getElementById("ddlAdultsCount");
        var adultsCount = adultsDDL.options[adultsDDL.selectedIndex].value;

        var fullWeekSearchBtn = document.getElementById("rbtnFullWeek");
        var splittedWeekSearchBtn = document.getElementById("rbtnSplittedWeek");

        var searchType = fullWeekSearchBtn.checked ? fullWeekSearchBtn.value : splittedWeekSearchBtn.value;

        window.events = {
            url: '@Url.Action("SearchBookings", "Booking")',
            data: {
                adults: adultsCount,
                searchType: searchType,
                fromDate: "",
                toDate: ""
            },
            success: function(data) {
                
            }
        };

    </script>
}


